<html>

<head>
  <title>
    <%= title %>
  </title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery.min.js"></script>

  <script>
    var socket = io.connect('http://localhost:8080');

    socket.on('connect', function () {
      console.log('Client has connected to the server!');
    });

    socket.on('news', function (data) {
      $("#iomsg").html(data);
      socket.emit('newsresponse', 'this is news response');
    });
  </script>

</head>

<body>
  <p>
    <%= message %>
  </p>
  <div style="color:#3333ff;" id='iomsg'></div>
  <div>SALAM ALI SHAMAKHI</div>
</body>

</html>