<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Propeller card -->
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js"></script>
    <script>
        function removeCard(){
            $(this).parent().remove();
        }
        $(function () {
            var socket = io();
            $('form').submit(function () {
                socket.emit('chat message', {
                    name: "STUDENT" + $('#course-name').val(),
                    student: $('#course-student').val(),
                    absence: $('#course-absence').val(),
                });
                return false;
            });
        });
    </script>
</head>

<body>
    <div class="container" id="messages"></div>
</body>


</html>