<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- todo: change component all to bootstrap 4, So we can use more component -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Propeller card -->
    <link rel="stylesheet" type="text/css" href="css/card.css">
    <link href="css/modal.css" type="text/css" rel="stylesheet" />
    <style>
        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>
        var socket = io.connect('http://localhost:8080');

        socket.on('connect', function () {
            console.log('Client has connected to the server!');
        });
    </script>
    <script>
        function addModal() {
            $("#create-attendance").modal('show')

            //  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            //      <div class="modal-dialog modal-dialog-centered" role="document">
            //          <div class="modal-content">
            //          <div class="modal-header">
            //              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            //              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            //              <span aria-hidden="true">&times;</span>
            //              </button>
            //          </div>
            //          <div class="modal-body">
            //              ...
            //          </div>
            //          <div class="modal-footer">
            //              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            //              <button type="button" class="btn btn-primary">Save changes</button>
            //          </div>
            //          </div>
            //      </div>
            //  </div>
        }
        $(function () {
            var socket = io();
            $('form').submit(function () {
                socket.emit('chat message', {
                    name: "PROF" + $('#course-name').val(),
                    prof: $('#course-prof').val(),
                    absence: $('#course-absence').val(),
                });
                return false;
            });
            socket.on('chat message', function (data) {
                if (data.name.indexOf("STUDENT") > -1) {
                    $('#messages').append(
                        $('<div>').on("click", addModal).addClass("col-md-4 col-sm-6").attr('id',
                            data.name).append(
                            $('<div>').addClass(
                                "pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth").css({
                                "background-color": "#12a474",
                                "color": "white"
                            }).append(
                                $('<div>').addClass("pmd-card-media").append(
                                    $('<div>').addClass("media-body").append(
                                        $('<h3>').addClass("pmd-card-title-text").text(data.name),
                                        $('<h4>').addClass("pmd-card-title-text").text(data.student),
                                        $('<h2>').addClass("pmd-card-title-text").text('# Absent: ' +
                                            data.absence),
                                    ),
                                    $('<div>').addClass("media-right media-middle").prepend(
                                        $('<img>', {
                                            src: 'img/500x500.png',
                                            height: 112,
                                            width: 112
                                        }).addClass("rounded img-fluid"))
                                )
                            )
                        )
                    );
                }
            });
        });
    </script>
</head>

<body>
    <div class="container" id="messages"></div>
    <div class="modal fade" id="create-attendance" tabindex="-1" role="dialog" aria-labelledby="create-attendance" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p>Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non consequat tempus,
                        nunc arcu mollis enim, eu aliquam erat nulla non nibh. Duis consectetuer malesuada velit. Nam ante
                        nulla, interdum vel, tristique ac, condimentum non, tellus. Proin ornare feugiat nisl. Suspendisse
                        dolor nisl, ultrices at, eleifend vel, consequat at, dolor.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@example.com</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">@example.com</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <form action="">
        <input id="course-name" autocomplete="off" placeholder="name" />
        <input id="course-prof" autocomplete="off" placeholder="student-name" />
        <input id="course-absence" autocomplete="off" placeholder="absence" />
        <button>Send</button>
    </form>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>


</html>