<!doctype html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Propeller is a front-end responsive framework based on Material design & Bootstrap.">
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

	<title>Propeller - Develop more, Code less.</title>

	<!-- Bootstrap -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- Propeller card -->
	<link rel="stylesheet" type="text/css" href="css/card.css">
	<script src="js/bootstrap.min.js"></script>

</head>

<body>
	<div class="container">
		<div class="col-md-4 col-sm-6">
			<div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
				<div class="pmd-card-media">
					<div class="media-body">
						<h3 class="pmd-card-title-text">Title goes here</h3>
						<h4 class="pmd-card-title-text">Secondary text</h4>
						<h2 class="pmd-card-title-text">Third text</h2>
					</div>
					<div class="media-right media-middle">
						<a href="javascript:void(0);">
							<img src="img/500x500.png" width="112" height="112">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="pmd-card pmd-card-default pmd-z-depth">
				<div class="pmd-card-media">
					<img src="img/500x500.png" class="img-responsive">
				</div>
				<div class="pmd-card-title">
					<h2 class="pmd-card-title-text">Title goes here</h2>
					<span class="pmd-card-subtitle-text">Secondary text</span>
				</div>
			</div>
		</div>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
			Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Cras sed ante. Phasellus in massa. Curabitur dolor eros, gravida et, hendrerit ac, cursus non, massa. Aliquam lorem.
							In hac habitasse platea dictumst. Cras eu mauris. Quisque lacus. Donec ipsum. Nullam vitae sem at nunc pharetra ultricies.
							Vivamus elit eros, ullamcorper a, adipiscing sit amet, porttitor ut, nibh. Maecenas adipiscing mollis massa. Nunc
							ut dui eget nulla venenatis aliquet. Sed luctus posuere justo. Cras vehicula varius turpis. Vivamus eros metus, tristique
							sit amet, molestie dignissim, malesuada et, urna.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>
</body>

</html>