made cards responsive in prof page

Masoud Moharrami
authored6/9/2018 @ 3:27 AM
parent:88ecb1
2 modified
5 added
Name

Path

Tree

View all files
attendance/views/css
/style.css
attendance/views/fonts
/IRANSansWeb.woff
attendance/views/fonts
/IRANSansWeb_Bold.woff
attendance/views/fonts
/IRANSansWeb_Light.woff
attendance/views/fonts
/IRANSansWeb_Medium.woff
attendance/views/fonts
/IRANSansWeb_UltraLight.woff
attendance/views
/prof.ejs
File History: attendance/views/prof.ejs
made cards responsive in prof page
25 days ago by Masoud Moharrami
cc265f
Edit prof page and change index in Attendance
a month ago by Masoud Moharrami
ce7c98
Attendance
a month ago by Masoud Moharrami
59718c
ADDED attendance/views/prof.ejs
Searched until 9/22/2017 (d38bb7)Go Deeper
Diff View
File View

Show blame details
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content-img">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <h6>Vivamus auctor leo vel dui. Aliquam erat volutpat. Phasellus nibh. Vestibulum ante ipsum primis in
                            faucibus orci luctus et ultrices posuere cubilia Curae; Cras tempor. Morbi egestas, urna non
                            consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh. Duis consectetuer malesuada
                            velit. Nam ante nulla, interdum vel, tristique ac, condimentum non, tellus. Proin ornare feugiat
                            nisl. Suspendisse dolor nisl, ultrices at, eleifend vel, consequat at, dolor.</h6>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">@example.com</span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">@example.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <form action="">
                                                    <input id="course-name" autocomplete="off" placeholder="name" />
                                                    <input id="course-prof" autocomplete="off" placeholder="student-name" />
                                                    <input id="course-absence" autocomplete="off" placeholder="absence" />
                                                    <button>Send</button>
                                                </form> -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
    </div>
</body>
 
 
</html>